<header class="over_hidden">

	<div id="divConsole" class="console boxBox">
		<div class="consoleAll" >
			<p>### Console ALL DATA ###</p> 
		</div>

	</div>
	
	<div class="boxBox">
		<a href="http://192.168.1.201:64500/filtrar" target="_blanck"><img src="/img/sogiteck.png" alt="Logo Sogiteck" style="width: 100px;"></a>
		<h2 class="mLeft10" style="display: inline;">Real time servers monitor</h2>
		<button type="button" id="" class="mLeft10 btn btn-sm btn-success" ng-click="controlconexion()">{{buttonConnect}}</button>
		<img id="" src="/img/btn_off.png" ng-src="{{userConnect}}" class="mLeft10">
		<label class="mLeft10">Range to filter:</label>
		<select id="" class="btn-default"
			ng-model="rangeTime"
			ng-options="item.range as item.title for item in timeRange"
			>
		</select>
		
	</div>

	<hr>
	<ul id="buttonMonitor">

	</ul>
</header>

<br>

<div id="divCharts" style="width: 100%;">

</div>
